{% extends "base.html" %}

{% block content %}
<div class="search-results">
    <h2>Результаты поиска для "{{ query }}"</h2>
    {% if pages %}
        <ul class="search-list">
            {% for page in pages %}
                <li>
                    <a href="{{ url_for('main.page', slug=page.slug) }}">{{ page.title }}</a>
                    <div class="search-snippet">{{ page.content|truncate(200) }}</div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Ничего не найдено</p>
    {% endif %}
</div>
{% endblock %}
